body{
    font-family: 'Kanit', sans-serif;
    background-color:burlywood;
 color: brown;
 font-size: 30px;
 text-align: center;
}
 p{
    text-align: center;
    color:brown;
}
#missao{
    font-size: 50px;
    color:brown;
}

#conteudo{
    display: flex;
    text-align: center;
    margin: auto;
}
#foto1{
    width: 50%;
    margin-left: 10px;
}