body{
    font-family: 'Kanit', sans-serif;
    background-color:black;
 color: white;
 font-size: 30px;
 text-align: center;
}
 p{
    text-align: center;
    color:white;
}
#missao{
    font-size: 50px;
    color:white;
}